body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #fff;
}

.controls {
  margin: 10px;
}

canvas {
  border: 3px solid #fff;
  background-color: #000;
  margin-top: 10px;
}

button, select {
  margin: 5px;
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #444;
}


.hidden {
  display: none;
}
